.container-quicksearch {
  position: relative;
  height: 40px;
  width: 325px;
  margin: 0 auto;
  margin-bottom: 30px;

  .form-input--search {
    border-radius: 4px;
    height: 40px;
    width: 275px;
    border: 1px solid #d2d2d2;
    font-size: 1rem;
    color: #36363A;
    -webkit-text-fill-color: #36363A;
    padding: 0 30px 0 20px;  
  
    &::placeholder {
      color: #7C7C95;
      -webkit-text-fill-color: #7C7C95;
    }
  
    + .spyglass {
      background: url('../Assets/ICON-Search.svg');
      background-position: right; 
      background-repeat: no-repeat;
      background-size: 25px 16px;
      background-color: rgba(255, 255, 255, 1);          
      position: absolute;
      height: 25px;
      width: 25px;
      top: 10px;
      right: 2.5px;
      opacity: 1;
      z-index: 102;
    }
  }
}
