@import './variables/typography';

$palette: (
  background:#F6F6F6,
  listItemBackground: rgba(226, 226, 226, 1),
  listItemBackgroundAlternate: rgba(226, 226, 226, 0.5),
  inputBackground: white,
  modalBackground: rgba(208, 208, 208, 0.6),
  modalContentBackground: white,

  titleText: #0097D9,
  text: #36363A,
  alternateText: #B2B2BF,
  warningText: #E56257,
  placeholderText: #7C7C95,

  listItemShadow: 2px 2px 6px rgba(0, 0, 0, 0.24),
  listItemShadowAlternate: 2px 2px 6px rgba(0, 0, 0, 0.16),
  modalShadow: 5px 3px 15px rgba(0, 0, 0, 0.07),
  textShadow: .5px .5px rgba(0, 0, 0, .7),
  modalHeaderShadow: 0 5px 10px rgba(0, 0, 0, 0.5),
  inputBorder: #D2D2D2,
);

$typography: (
  family: (
    light: $global-light-font-family,
    regular: $global-regular-font-family,
    semibold: $global-semibold-font-family,
    bold: $global-bold-font-family,
  ),

  sizes: (
    sm: 0.875rem,
    md: 1rem,
    lg: 1.5rem,
    xlg: 2rem,
  ),

  lineHeights: (
    sm: 1.25rem,
    md: 1.5rem,
    lg: 2.25rem,
    xlg: 3rem,
  ),
);

$dimensions: (
  margin: (
    center: 0 auto,
    xs: 10px,
    sm: 15px,
    md: 30px,
    lg: 40px,
    xlg: 150px,
    relativeSm: 7.5%,
  ),

  padding: (
    xs: 10px,
    sm: 15px,
    md: 30px,
    lg: 50px,
    xlg: 150px,
    inputs: 0 30px 0 20px,
  ),

  width: (
    maxWidth: 1148px,
    modalMaxWidth: 861px,
    inputs: 275px,
    spinner: 50px,
    imageCover: 80px,
    matchViewport: 100vw,

    inReferenceToParent: (
      half: 50%,
      modal: 75%,
      smaller: 80%,
      match: 100%,
    ),
  ),

  height: (
    inputs: 40px,
    spinner: 50px,
    matchViewport: 100vh,

    inReferenceToParent: (
      half: 50%,
      modal: 75%,
      smaller: 80%,
      match: 100%,
    ),
  ),
);

$border: (
  radius: (
    standard: 4px,
    circle: 50%,
  ),

  inputs: 1px solid #d2d2d2,
);
