.slide-in {
  animation: slide-in .5s forwards;
  transform: translateX(100%);
}

@keyframes slide-in {
  100% { transform: translateX(0%); }
}

.slide-out {
  animation: slide-out .5s forwards;
  transform: translateX(100%);
}

@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(100%); }
}