@import '../theme';
@import '../functions/deep-get';
@import '../variables/dimensions';
@import '../mixins/flexbox';
@import '../mixins/icon';

.container {
  box-sizing: border-box;
  width: map-deep-get($dimensions, width, inReferenceToParent, match);

  &--main {
    margin: map-deep-get($dimensions, margin, center);
    max-width: map-deep-get($dimensions, width, maxWidth);
  }
  
  &--page {
    padding: map-deep-get($dimensions, padding, lg) 0;
    text-align: center;
  }
  
  &--list {
    >:nth-child(even) {
      background-color: map-deep-get($palette, listItemBackground);
      box-shadow: map-deep-get($palette, listItemShadow);
    }
  
    >:nth-child(odd) {
      background-color: map-deep-get($palette, listItemBackgroundAlternate);;
      box-shadow: map-deep-get($palette, listItemShadowAlternate);
    }
  }
  
  &--list-item {
    padding: map-deep-get($dimensions, padding, sm);
    width: map-deep-get($dimensions, width, inReferenceToParent, smaller);
    margin: map-deep-get($dimensions, margin, center);
    margin-bottom: map-deep-get($dimensions, margin, sm);
    border-radius: map-deep-get($border, radius, standard);
  }
  
  &--form-control {
    position: relative;
    height: map-deep-get($dimensions, height, inputs);
    width: map-deep-get($dimensions, width, inputs);
    margin: map-deep-get($dimensions, margin, center);
    margin-bottom: map-deep-get($dimensions, margin, md);
  }

  &--list-info {
    @include flexbox(column, center, center);
    height: $list-height;
    width: map-deep-get($dimensions, width, inReferenceToParent, smaller);
    margin: map-deep-get($dimensions, margin, center);
    background-color: inherit !important;
    box-shadow: none !important;
    padding-bottom: map-deep-get($dimensions, padding, xlg);
  }

  &--icon {
    @include icon($url: url('Shared/Assets/icons/ICON_Ice_truck.svg'), $height: 150px, $width: 150px, $background: inherit);
    margin-top: map-deep-get($dimensions, margin, xlg);
  }

  &--spinner-icon {
    background-color: map-deep-get($palette, alternateText);
    height: map-deep-get($dimensions, height, spinner);
    width: map-deep-get($dimensions, width, spinner);
    animation: spin 3s infinite;
    transform: rotate(30deg);
    margin-bottom: map-deep-get($dimensions, margin, sm);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
