.text {
  padding: 0;
  margin: 0;

  &--page-title {
    font-family: map-deep-get($typography, family, semibold);
    font-size: map-deep-get($typography, sizes, lg);
    line-height: map-deep-get($typography, lineHeights, lg);
    margin-bottom: map-deep-get($dimensions, margin, lg);
    color: map-deep-get($palette, titleText);
  }

  &--list-item-title {
    font-size: map-deep-get($typography, sizes, sm);
    line-height: map-deep-get($typography, lineHeights, sm);
    color: map-deep-get($palette, text);
  }

  &--highlight {
    margin-right: map-deep-get($dimensions, margin, xs);
    font-size: map-deep-get($typography, sizes, md);
    line-height: map-deep-get($typography, lineHeights, md);
    font-family: map-deep-get($typography, family, bold);
    color: map-deep-get($palette, titleText);
  }
}



