@import './Styles/theme';
@import './Styles/functions/deep-get';
@import './Styles/variables/typography';
@import './Styles/mixins/container';
@import './Styles/mixins/text';
@import './Styles/mixins/form/input';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: map-deep-get($palette, background);
  font-family: map-deep-get($typography, family, regular);;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
